.home__banner {
  background-image: url('../img/bank-tree.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  background-position: 0% 33%;
  position: relative;

  &__aside {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
    background-color: #fff;
    padding: 32px;
    text-align: left;
    color: #2c3e50;

    &__subtitle {
      font-size: 1.5rem;
      font-weight: bold;

    }

    &__text {
      margin-top: 20px;
      font-size: 1.2rem;
    }
  }


}