.home__features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 40px;
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }


  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;

    &__icon {
      width: 100px;
      border: 10px solid #00bc77;
      border-radius: 50%;
    }
  }

}